################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutoCar/DesignTimeBuild
/.vs/AutoCar/FileContentIndex
/obj
/bin/Debug/net7.0
/.vs
